@model CoreMVCSample.UI.Models.Core.VM.ProductVM

<form asp-action="AddProduct">
	<div class="col-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<p class="card-description"> Yeni Ürün Ekleme Paneli </p>
				<div class="form-group">
					<label>Ürün Adı:</label>
					<input type="text" class="form-control" asp-for="@Model.ProductName">
				</div>
				<div class="form-group">
					<label>Fiyatı: </label>
					<input type="text" class="form-control" asp-for="@Model.UnitPrice">
				</div>
				<div class="form-group">
					<label>Kategoriler:</label>
					<select class="form-control" asp-for="@Model.CategoryIds" asp-items="@(new SelectList(ViewBag.Categories, "CategoryId", "CategoryName"))" multiple>
						<option value="">-- Seçin --</option>
					</select>
				</div>


				<button type="submit" class="btn btn-primary mr-2">Kaydet</button>
				<button class="btn btn-dark">İptal</button>
			</div>
		</div>
	</div>
</form>