@model CoreMVCSample.UI.Models.Core.VM.UserLoginVM


<form asp-action="Login" asp-contoller="Account">
	@Html.AntiForgeryToken()
	<h2>Giriş Yap</h2>
	<div class="mb-3 row">
		<label asp-for="@Model.Email" class="col-md-12"></label>
		<div class="col-md-4">
			<input type="text" class="form-control" asp-for="@Model.Email" aria-describedby="emailHelp">
		</div>
	</div>
	<div class="mb-3 row">
		<label for="exampleInputPassword1" class="form-label col-md-12">Password</label>
		<div class="col-md-4">
			<input type="password" class="form-control" asp-for="@Model.Password">
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Giriş Yap</button>
</form>